/*
1. 992px - Для больших планшетов
2. 768px - "маленькие девайсы"
3. 600px - ???
4. 320px - 4дюйма
*/
@media screen and (max-width: 992px) {
	html{
		font-size: 90%;
	}
	.register__content{
		flex-direction: column;
	}
	.register__contacts{
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
		margin-bottom: 1rem;
	}
	.register__form{
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	/* html{
		font-size: 90%;
	} */
	.nav__list{
		width: 100%;
		flex-direction: column;
	}
	.portfolio__gallery{
		grid-template-columns: repeat(2, 1fr);
		font-size: 80%;
	}
}
@media screen and (max-width: 600px) {
	html{
		font-size: 80%;
	}
	.structure1__content{
			margin-top: 1rem;
	}

	.services__content{
		flex-direction: column;
	}
	.blog__date{
		float: right;
		/* margin-left: calc(100% - 4.5rem - 100% * 460/1140); */
	}
	.blog__title{
		padding-top: 5rem;
	}

	.register__contacts{
		flex-direction: column;
		justify-content: center;
		margin-bottom: 1rem;
	}
	.register__contacts__item{
		grid-template-rows: 2rem;
		grid-template-columns: 16px 1fr 1fr 1fr;
		grid-template-areas:
		'im tt l1 l2'
		;
	}
	.register__form {
		grid-template-areas:
			'l l l l l'
			'e e e e e'
			's s s s s'
			'n n n n n '
			'm m m m m'
			'. c c c .'
			'. . b . .'
			;
	}
	.register__form__comment{
		text-align: center;
	}
}
@media screen and (max-width: 500px) {
	/* .blog__img{
		display: block;
		float: none;
		clear: both;
	}	 */
	/* .blog__date{
		float: right;
		display: block;+
	} */
	.register__contacts__item{
		/* grid-template-rows: 2rem; */
		grid-template-columns: 16px 1fr 1fr;
		grid-template-areas:
		'im tt tt'
		'. l1 l2'
		;
	}
}
@media screen and (max-width: 400px) {
/*
	.blog__img{
		float: none;
    width: 50%;
		margin: 0 25%
	}
	*/
	.blog__date{
		/* display: block; */
		/* float: none; */
		margin-left: 20%;
	}
	/* .blog__date::after{
		content: '';
		display: table;
		clear: both;
	} */
	/* .blog__date{
		float: none;
		clear: both;
	} */
	.register__contacts__item{
		grid-template-columns: 16px 1fr;
		grid-template-areas:
		'im tt'
		'. l1'
		'. l2'
		;
	}
	.register__form {
		grid-template-areas:
			'l l l'
			'e e e'
			's s s'
			'n n n'
			'm m m'
			'c c c'
			'. b .'
			;
	}
}
@media screen and (max-width: 320px) {
	.aboutus__description{
		flex-direction: column;
	}
	.aboutus__description__item:nth-of-type(n)
	{
			padding-right: 0;
			padding-left: 0;
	}
	.aboutus__description__item:nth-of-type(n+1){
		padding-top: 1rem;
	}
	.portfolio__gallery{
		grid-template-columns: 1fr;
		font-size: 70%;
	}
	.register__form {
		grid-template-areas:
			'l'
			'e'
			's'
			'n'
			'm'
			'c'
			'b'
			;
	}
	.register__form button[type=submit]{
		width: 100%;
	}
	.footer__icons__item{
		display: block;
	}
}
