/* @import url("css/normalize.css"); */ /*Не используем т.к. не сбрасывает "p", "h1..h6"*/
@import url("css/reset.css");
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix::after,
.blog__item::after
{
    content: "";
    display: table;
    clear: both;
}
/*------------------------------------------------------------------------------
* Базовые настройки документа
*/
html{
	font-size: 100%;
}
body{
	font-family: "Roboto Slab", serif;/*serif - с засечками*/
	font-size: 0.875rem; /*14px/16*/
	font-weight: 400;/*regular*/
	color: #555;
	line-height: 1.5rem;/*24px/16*/
}
/*------------------------------------------------------------------------------
* Настройки основных конструктивных блоков.
*/
.page__row {
	display: block;

}
.page__cell {
	max-width: 1160px;/*1140px + 2*10px*/
	margin: 0 auto;
	padding: 0 10px;
	/* position: relative; */
}
.page__row:nth-of-type(even){
	background-color: #fff;
}
.page__row:nth-of-type(odd){
	background-color: #f8f8f8;
}


/* Применяемые типы шрифтов*/
.fonttype1{
	font-family: "Roboto Slab", serif;/*serif - с засечками*/
}
.fonttype2{
	font-family: "Montserrat", sans-serif; /*sans-serif - без засечек*/
	/* background-color: red; */
}
/* Применяемые цвета шрифта*/
.fontcolor1{
	color: #555;
}
.fontcolor2{
	color: #fff;
}

/*Применяемые цвета фона*/
.bgcolor1{
	background-color: #555;
}
.bgcolor2{
	background-color: #fff;
}
.bgcolor3{
	background-color: #f8f8f8;
	/* background-color: yellow; */
}
/*ССылка со стилизацией, как в меню*/
.link-menu{
	text-decoration: none;
	color: #fff;
}
.link-menu:hover{
	color: gold;
}
.icon-circle {
	margin-top: 2.5rem;/*40px/16*/
	display: inline-block;
	border-radius: 50%;
	width: 8.125rem;/*130px/16*/
	height: 8.125rem;/*130px/16*/
	border: 0.125rem solid #fff; /*2px*/
	text-align: center;
	background-color: silver;/*В макете этот фон не указан, но если его не делать, то смене в "hover" получается лажа*/
}
.icon-circle:hover{
	background-color: #c0301c;
}
/* Общая структура тип 1.
* Снизу и сверху отступ в 100px. Отступ должен растягивать фон.
* Заголовок с подчеркиванием фиксированной ширины.
*/
.structure1{
	padding-top: 6.25rem;/*100px padding ибо нам нужно растьнуть фон*/
	padding-bottom: 6.25rem;/*100px*/
}
.structure1__title{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif; /*sans-serif - без засечек*/
	font-weight: 400;
	font-size: 1.25rem;/*20px*/
}
.structure1__title:after{
	display: block;
	content: '';
	width: 3.125rem; /*50px;*/
	border-bottom: 0.125rem solid /*#555*/;/*2px цвет текста*/
	margin-top: 1.875rem;/*30px*/
	margin-left: 50%;
	transform: translateX(-50%);
}
.structure1__text{
	text-align: center;
	font-family: "Roboto Slab", serif;/*serif - с засечками*/
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem; /*24px*/
	margin-top: 1.75rem;/*28px*/
}
.structure1__content{
	margin-top: 4.375rem;/*70px*/
	/* background-color: pink; */
	padding: 1rem;
}
/*------------------------------------------------------------------------------
* Welcome
*/
.page__row--header{
	position: relative;
	background-image: url('images/header.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* padding-top: 33%; */
}
.page__row--header:before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.45;
	background-color: #000;
	content: '';
}
.page__cell--header{
	position: relative;
}
.logo{
	text-decoration: none;
	display: inline-block;
	margin-top: 2.5rem; /*40px*/
	font-size: 1.5rem;/*24px*/
	font-weight: 700;
}
.header__title1{
	display: block;
	margin-top: 16.25rem;/*260px*/
	text-align: center;
	font-size:  2.125rem;/*34px*/
	font-weight: 300;
	text-transform: uppercase;
}
.header__title2{
	display: block;
	margin-top: 2.25rem;/*36px*/
	text-align: center;
	font-size:  1rem;/*34px*/
	font-weight: 300;
}
.header__join{
	text-align: center;
	margin-top: 3.125rem; /*50px*/;
	padding-bottom: 16.25rem;/*260px*/
}
.header__join__link{
	display: inline-block;
	height: 3.125rem; /*50px*/
	border: 0.125rem solid #fff;
	padding: 0.8rem 2rem;
	border-radius: 2px;
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	/* position: relative; */
	top: 50%;
	transform: translateY(-50%);
}
.nav{
	position: absolute;
	top: 1.7rem;
	right: 1rem;
}
.nav__list{
	display : -ms-flexbox;
	display : -webkit-flex;
	display : flex;
	justify-content: space-between;
	width: 34.375rem;/*550px;*/
}
.nav__item{
	font-size: 0.875rem;/*14px*/
	list-style-type: none;
}

/*------------------------------------------------------------------------------
* Services
*/
.services__content{
	display: flex;
	flex-direction: row;/*row - В строку (по умолчанию)*/
	justify-content: space-between;/*space-between - края прижаты, оставшееся место распределено между элементами*/
}
.services__content_item{
	text-align: center;
	padding: 0 1rem;
	/**font-size: 0.875rem;*//*14px << body*/
	/*line-height: 1.5rem;*//*24px << body*/
	/*font-weight: 400;*//*<< body*/
}
.services__icon__img{
	max-width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.services__icon_container{
	border-radius: 50%;
	width: 5.625rem; /*90px*/
	height: 5.625rem; /*90px*/
	background-color: red;
}
.services__item__title{
	font-family: "Montserrat", sans-serif; /*sans-serif - без засечек*/
	text-transform: uppercase;
	margin-top: 1.875rem; /*30px*/
	margin-bottom: 1.625rem; /*26px*/
}
.services__item__text{
	font-family: "Roboto Slab", serif;/*serif - с засечками*/
}
/*------------------------------------------------------------------------------
*  About us
*/
.aboutus__description{
	display: flex;
	justify-content: space-between;
}
.aboutus__description__item:nth-of-type(even){
	padding-left: 1rem;
}
.aboutus__description__item:nth-of-type(odd){
	padding-right: 1rem;
}
.aboutus__galery{
	display: relative;
	margin-top: 4.625rem;/*74px*/
}
.aboutus__galery__item{
	text-align: center;
}
.aboutus__galery__img{
	padding-top: 120%;/* используем вместо "height"*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.aboutus__galery__title1{
	margin: 1.25rem 0; /*20px*/
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif; /*sans-serif - без засечек*/
	/*font-size: 0.875rem;*/ /*14px <<body*/
	/*line-height: 1.5rem;*/ /*24px <<body*/
	/*font-weight: 400;*/ /*<<body*/
}
.aboutus__galery__title2{
	font-size: 0.8125rem; /*13px все остальное из body*/
}
.sn__wrap{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* visibility: hidden; */
	border: 1px solid blue;
	opacity: 0;
}
.sn__wrap:hover{
	visibility: visible;
	opacity: 1;
	background-color: (255, 0, 0, 0.5);
	border: 1px solid yellow;
}

.sn__panel{
	position: absolute;
	top: 40%;
	/* left: 50%; */
	width: 100%;
	border: 1px solid red;
	display: block;
	/* text-align: center; */
}
.sn__panel:hover{
	opacity: 1;
}
.owl-carousel .owl-item img.sn__img{
	display: inline-block;
	width: 1.75rem;/*28px*/
	/*height: 1.75rem;*//*28px*/
	padding: 0.3rem;
}
.owl-carousel .owl-item img.sn__img:hover{
	background-color: red;
}
.sn__img.sn__img--selector{
	width: 1rem;
	height: 1rem;
	background-repeat: no-repeat;
	background-position: center;
	/* background-size: cover; */
	/* display: inline-block; */
}
.aboutus__galery .owl-nav{
	position: absolute;
	display: block;
	width: 100%;
	top: 35%;
	/* transform: translateY(-50%); *//*Тут не нужно, ибо не центрируем, а подбираем*/
}
.aboutus__galery .owl-nav .owl-prev,
.aboutus__galery .owl-nav .owl-next{
	position: absolute;
	width: 34px;
	height: 38px;
	background-color: red;
}
.aboutus__galery .owl-nav .owl-prev{
	left: 0;
}
.aboutus__galery .owl-nav button.owl-next,
.aboutus__galery .owl-nav button.owl-prev
/* .aboutus__galery button.owl-dot */
{
	width: 2.125rem; /*34px*/
	height: 2.375rem;/*38px*/
	background-color: red;
	border-radius: 3px;
}
.aboutus__galery .owl-nav button.owl-next span,
.aboutus__galery .owl-nav button.owl-prev span
{
	color: #ddd;
	font-family: "Roboto Slab", serif;/*serif - с засечками*/
	font-weight: 400;
	font-size: 1.8rem; /*14px 0.875rem Не используем т.к. визуально не совпадает*/
}
.aboutus__galery .owl-nav button.owl-next:hover,
.aboutus__galery .owl-nav button.owl-prev:hover
{
	background-color: green;
}
.aboutus__galery .owl-nav .owl-next{
	right: 0;
}
/*------------------------------------------------------------------------------
*  Latest Works
*/
.portfolio__menu{
	display: flex;
	justify-content: space-between;
	padding: 0 10%;
	font-size: 1rem;/*16px*/
}
.portfolio__menu__link{
	text-decoration: none;
	color: #555;
}
.portfolio__menu__link:hover{
	color: #c0301c;
}
.portfolio__gallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*grid-gap: 1rem;*/
	grid-gap: 1em;
	font-size: 1rem;
}
.portfolio__gallery__item{
	position: relative;
}
.portfolio__darkening{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	background-color: red; /*PSD #c0301c, но не похоже*/
	text-align: center;
}
.portfolio__darkening:hover{
	opacity: 0.7;/*PSD - непрозрачность 70%*/
}
.portfolio__darkening__title1{
	/*margin-top: 34%;*/ /*100%*110px/320px*/
	margin-top: 6.875em;/*От размера шрифта галереи*/
	font-family: "Montserrat", sans-serif; /*sans-serif - без засечек*/
	/*font-size: 1.125rem;*//*18px*/
	font-size:
	/*line-height: 1.5rem;*//*24px*/
}
.portfolio__darkening__title2{
	/*margin-top: 6%;*//*100%*20px/320px*/
	margin-top: 1.25em;
	/*font-size: 0.75rem;*/ /*12px*/
	font-size: 112.5%; /*От размера шрифта галереи*/
}
.portfolio__darkening__button{
	/*margin-top: 8%;*//*100%*28px/320px*/
	margin-top: 1.75em;/*От размера шрифта галереи*/
	font-family: "Roboto Slab", serif;/*serif - с засечками*/
	/*font-size: 0.875rem;*/ /*14px*/
	font-size: 87.5%;
	text-transform: uppercase;
	border-radius: 5px;
}

.portfolio__item__img{
	display: block;
	/*max-width: 100%;*/ /*В grid-layout не нужно.*/
}
/*------------------------------------------------------------------------------
*  Get in touch
*/
.page__row--get-in-touch{
	position: relative;
	 background-image: url('images/getintouch.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.page__row--get-in-touch::before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(192, 48, 28, 0.6);
}
.page__cell--get-in-touch{
	position: relative;
}
.get-in-touch__container{
	text-align: center;
	padding: 6.25rem 0; /*100px*/
	font-size: 1.875rem;/*30px*/
	color: #fff;
	/* z-index: 3; */
}

.get-in-touch__title2{
	margin-top: 1.75rem; /*28px*/
}

.get-in-touch__link{
	text-decoration: none;
	color: #fff;

	display: inline-block;
	margin-top: 3.125rem; /*50px*/
	padding: 1rem 1.5rem;/* 16px сверху и снизу, 24px слева и справа*/
	width: 11.25rem; /*180px*/
	font-size: 1.125rem; /*18px*/
	text-transform: uppercase;
	border: 0.125rem solid #fff;
	border-radius: 3px;
}

/*------------------------------------------------------------------------------
*  Recent blog posts
* img 320x460
*/
.blog{
}
.blog__item {
	/* border: 1px solid red; */
}
.blog__item:nth-child(n + 2){
	margin-top: 4.875rem;/*78px*/
}
.blog__img{
	float: left;
	width: calc(100% * 460/1140);/*Пропорционально 460px от пространства шириной 1140px*/
	margin-right: calc(100% * 30/1140); /*30px от базовой ширины 1140px*/
}
.blog__img::after{
	clear: both;
}
/*Квадрат 72x72px с центрированием. Рамка 2px.*/
.blog__date{
	float: left;
	display: table;
	width: 4.5rem;
	height: 4.5rem;
	text-align: center;
	font-family: "Montserrat", sans-serif; /*sans-serif - без засечек*/
	/* font-size: 	87.5%;  */
	/*87.5%<<0.875rem<<14px*/
	/* font-size: calc(50% + 30); */
	/* font-size: calc(1vw + 1vh + 1vmin); */
	font-weight: bold;
	padding: 20% auto;
	/* padding-top: 20%; */
	border: 0.125rem solid #555; /*2px*/
	margin-right: 1.75rem;
}
.blog__date__content{
	display: table-cell;
	vertical-align: middle;
}
.blog__title{
	font-family: "Montserrat", sans-serif; /*sans-serif - без засечек*/
	font-size: 1rem;/*16px*/
	line-height: 1rem;/*Синхронизируем с высотой шрифта*/
	color: #c0301c;
	text-transform: uppercase;
	padding-top: 1rem;
	/* margin-bottom: 1.25rem; */
	/*20px*/ 
}
.blog__publisher{
	font-size: 0.8125rem; /*13px*/
	margin-top: 0.8rem;/*1.25rem<<20px - не подходит, подбираем*/
	line-height: 0.8rem;/*Синхронизируем с высотой шрифта*/

}
.blog__descr{
	margin-top: 1.625rem;
	/*26px*/
	font-size: 0.875rem; /*14px*/
	line-height: 1.5rem; /*24px*/
}
.blog__link{
	text-transform: uppercase;
	font-size: 0.8125rem; /*13px*/
	line-height: 1.5rem; /*24px*/
	margin-top: 2rem; /*32px*/
}
.blog-link{
	text-decoration: none;
	color: #c0301c;
}


/*------------------------------------------------------------------------------
*  Partners.
* Сверху список, снизу слайдер.
*/
.partners{
	padding-top: 6.25rem;/*100px padding ибо нам нужно растьнуть фон*/
	padding-bottom: 6.25rem;/*100px*/
	/* background-color: gray; */
}
.partners__list{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 0 10%;
}
.partners__slider {
	position: relative;
	text-align: center;
	margin-top: 5rem; /*80px*/
}
.partners__slider__line1{
	font-size: 1.125rem;/*18px*/
}
.partners__slider__line2{
	margin-top: 1.25rem;/*20px*/
	font-size: 1.125rem;/*18px*/
}
.partners__slider__line3{
	font-size: 1.25rem;/*20px*/
	margin-top: 3.125rem;/*50px*/
	margin-bottom: 4.625rem; /*74px*/
}

.partners__slider .owl-dots{
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 1rem; /*16px*/
}
.partners__slider .owl-dots button.owl-dot{
	display: inline-block;
	width: 0.8125rem; /*13px*/
	height: 0.8125rem; /*13px*/
	background-color: #ddd;/*Белый*/
	margin: 0 0.1875rem; /*3px - половина от межстрочного расстояния*/
	border-radius: 50%;
}
.partners__slider button.owl-dot.active{
	background-color: #c0301c;
}
/*------------------------------------------------------------------------------
*  register
*/
.register__content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/*------------------------------------------------------------------------------
*  register/contacts
*/
.register__contacts{
	width: 18.75rem; /*300px*/
	display: flex;
	flex-direction: column;
}
.register__contacts__item{
	display: grid;
	grid-column-gap: 1rem;
	grid-template-rows: 1.7rem 1.3rem 1rem;/*Подбираем - по расчету нихрена не совпадает*/
	grid-template-columns: 16px 1fr;
	grid-template-areas:
	'im tt'
	'. l1'
	'. l2'
	;

}
.register__contacts__img{
	grid-area: im;
}
.register__contacts__title{
	grid-area: tt;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif; /*sans-serif - без засечек*/
}
.register__contacts__line1{
	grid-area: l1;
	font-size: 0.75rem; /*12px*/
}
.register__contacts__line2{
	grid-area: l2;
	font-size: 0.75rem; /*12px*/
}
/*------------------------------------------------------------------------------
*  register/form
*/
.register__form {
	width: 45.625rem; /*730px*/
	display: grid;
	/* grid-template-columns: repeat(4, 1fr); */
	grid-template-rows: 	42px 42px 100px 42px;
	grid-column-gap: 1.875rem;/*30px*/
	grid-row-gap: 1.25rem; /*20px*/
	grid-template-areas:
		'l l e e'
		's s n n'
		'm m m m'
		'b c c c'
		;
}
.register__form input[name=login]{
	grid-area: l;
}
.register__form input[name=email]{
	grid-area: e;
}
.register__form input[name=subject]{
	grid-area: s;
}
.register__form input[name=cName]{
	grid-area: n;
}
.register__form textarea[name=message]{
	grid-area: m;
	resize: none;
}
.register__form button[type=submit]{
	grid-area: b;
	text-transform: uppercase;
	border-radius: 5px;
	width: 200px;
}
.register__form__comment{
	grid-area: c;
	display: inline-block;
	align-self: center;
	font-size: 0.75rem; /*12px*/
}
.form-required{
	color: red;
}
/*------------------------------------------------------------------------------
*  Footer
*/
.page__row .page__row--footer{
	/* background-color: rgba(255, 0, 0, 0.5); */
	background-color: #c0301c;
}
.footer__text{
	text-align: center;
	text-transform: uppercase;
	font-size: 0.75rem; /*12px*/
}
.footer__icons{
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-wrap: wrap;
}
.footer__icons__item{
	display: inline-block;
	padding: 0.5rem;
	border: 0.125rem solid #fff;
	border-radius: 50%;
	margin: 0 0.4375rem; /*14px/2*/
}
